<a href="https://colab.research.google.com/github/VoznesenskayaV/Osnovy_programming/blob/main/Lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:



x = float(input())

if x>=0:
    f = x**1/2+x**2
else:
    f =1 / x

print(round(f,2))

# --------------
# Пример вывода:
#
# Введите число x: -10
# f = -0.10

# Введите число x: 0
# f = 0.00

# Введите число x: 10
# f = 103.16

-10
-0.1

№ 4.2.1

Рассчитать значение f при заданном значении вещественного числа x:![Рисунок1.png]()

#№ 4.2.2

Определите максимальное и минимальное значения из двух различных целых чисел.

In [ ]:
a1 = int(input())
a2 = int(input())

b = [a1,a2]
a_min = min(b)
a_max = max(b)
print("Максимум :",a_max)
print("Минимум :",a_min)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# Введите первое число: 1
# Введите второе число: 2
# Максимум: 2, минимум: 1

# Введите первое число: 5
# Введите второе число: 5
# Максимум: 5, минимум: 5

# Введите первое число: 100
# Введите второе число: -1
# Максимум: 100, минимум: -1

100
-1
Максимум : 100
Минимум : -1

#№ 4.2.3

Вася пытается высунуть голову в форточку размерами a и b см. Приняв условно, что его голова - круглая диаметром d см, определите, сможет ли Вася сделать это. Для прохождения головы в форточку необходим зазор в 1 см. с каждой стороны.

Все величины - целые числа.

In [ ]:
a = int(input())
b = int(input())
d = int(input())

# Введенные числа должны быть положительными, если так - осуществляем
# расчет, иначе выводим "Проверьте ввод"
if ((a-1>=d) and (b-1>=d)):
    print("Да")
else:
    print("Нет")
if ((a or b or d) < 0):
    print('Проверьте ввод')

# --------------
# Пример вывода:
#
# Ширина форточки: 5
# Высота форточки: 6
# Диаметр головы: 6
# Нет

# Ширина форточки: 6
# Высота форточки: 7
# Диаметр головы: 4
# Да

-1
5
1
Нет
Проверьте ввод

#№ 4.2.4

Известны год и номер месяца сегодняшнего дня, а также год и номер месяца рождения человека (нумерация месяцев с 1: январь - 1 и т.д.). Определите возраст человека (число полных лет).

In [ ]:
year_today = int(input("Введите текущий год:"))
month_today = int(input("Введите текущий месяц:"))

year = int(input("Введите год рождения:"))
month = int(input("Введите месяц рождения:"))
age = year_today - year 
if (month_today or month)<=0:
    print('Проверьте ввод.')
else:
    if month > month_today:
        print('Полных лет:', age-1)
    else:
        print('Полных лет:', age)



# --------------
# Пример вывода:
#
# Введите текущий год: 2017
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 1
# Число полных лет:  17
#
# Введите текущий год: 2015
# Введите текущий месяц: 6
# Введите год рождения: 2010
# Введите месяц рождения: 8
# Число полных лет:  4
#
# Введите текущий год: 2020
# Введите текущий месяц: 5
# Введите год рождения: 2000
# Введите месяц рождения: 5
# Число полных лет:  20

Введите текущий год:2020
Введите текущий месяц:5
Введите год рождения:2000
Введите месяц рождения:5
Полных лет: 20

#№ 4.2.5

Дана точка с целыми ненулевыми координатами (x;y). Определить номер четверти координатной плоскости, которой она принадлежит.

In [ ]:
x = int(input("Введите координату x:"))
y = int(input("Введите координату y:"))

if x > 0 and y > 0: 
    print("1-я четверть")
elif x < 0 and y > 0:
    print("2-я четверть")
elif x < 0 and y < 0:
    print("3-я четверть")
elif x > 0 and y < 0:
    print("4-я четверть")
elif x == 0 or y == 0:
    print("Точка находится на одной из осей")


# --------------
# Пример вывода:
#
# Введите координату x: 5
# Введите координату y: 7
# 1-я четверть

Введите координату x:5
Введите координату y:7
1-я четверть

#№ 4.2.6

Даны вещественные числа a, b, c (a≠0).

Решите уравнение ax2+bx+c=0. При выводе значений оставьте 1 знак после запятой.

In [ ]:
a = float(input("a="))
b = float(input("b="))
c = float(input("c="))

d = ((b**2)-(4*a*c))
if d>0:
  x1 = (((-1*b)-(d**(1/2)))/2*a)
  x2 = (((-1*b)+(d**(1/2)))/2*a)
  print(x1,x2)
elif d==0:
  x1 = ((-1*b)/2*a)
  print(x1)
elif d<0:
  print("Решений нет")


# --------------
# Пример вывода:
#
# a = 1
# b = 2
# c = 3
# Решений нет
#
# a = 1
# b = 2
# c = 1
# x = -1.0
#
# a = 1
# b = 3
# c = -4
# x1 = -4.0, x2 = 1.0

a=1
b=3
c=-4
-4.0 1.0

#№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0  # сумма
nums_count = 0  # количество

x = int(input('Введите число. '))
с = []

while x != 0:
    nums_count = nums_count+1
    a.append(x)
    nums_sum = nums_sum+x
    x = int(input('Введите число. '))

print(nums_sum)
print(nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

Введите число. 1
Введите число. 2
Введите число. 3
Введите число. 4
Введите число. 0
10
4

#№ 4.2.8

Дано число n. Из чисел 0,5,10,15,20,25,... напечатать те, которые не превышают n.

In [ ]:
n = int(input())
a = 0
print("0")

while a<=n:
    a = a+5 # числа увеличиваются на 5
    if a<n:
      print(a)
    else:
      break
    
# --------------
# Пример вывода:
#
# n = 0
# 0
#
# n = 10
# 0
# 5
# 10
#
# n = 12
# 0
# 5
# 10

12
0
5
10

#№ 4.2.9

Дано вещественное число a. Найдите наименьшее натуральное n, для которого верно![Рисунок3.png]()

In [ ]:
a = float(input())

n = 1 # n-натуральное число

x_sum = list()
x_sum.append(n)
while sum(x_sum)<=a:
    n = n+1
    b = 1/n
    x_sum.append(b) 
print(n)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1.5
# n = 3
#
# a = 2
# n = 4

2
4

#№ 4.2.10

Дано натуральное число. Определите сумму и количество его цифр.

In [ ]:
n = list(map(int, input())) # создаем список (list) и используем map, чтобы использовать все введенные элементы

n_sum = sum(n) # сложение элементов списка
n_count = len(n) # длина списка (количество элементов)

print('Сумма ', n_sum)
print('Количество ', n_count)

# --------------
# Пример вывода:
#
# n = 12345
# Сумма = 15
# Количество = 5

12345
Сумма  15
Количество  5

#№ 4.2.11

Вывести в строку 10 первых натуральных чисел, оканчивающихся на цифру k, кратных числу s и находящихся в интервале, левая граница которого равна start.

In [ ]:
start = int(input()) # Начало
k = int(input()) # Последняя цифра числа
s = int(input()) 
numbers = list()

while start%s!=0: 
    start = start + 1
else:
    for i in range(100):
        start = start + 1
        while start%s!=0:
            start = start + 1
        else:
            if start%10==k:
                numbers.append(start)

print(numbers[:10])

# --------------
# Пример вывода:
#
# start = 100
# k = 7
# s = 9
# 117 207 297 387 477 567 657 747 837 927

100
7
9
[117, 207, 297, 387, 477, 567, 657, 747, 837, 927]

#№ 4.2.12

Даны целые числа a и b (a может быть больше b). Напечатайте:

числа от минимального до максимального в строчку (разделяя пробелом);

числа от максимального до минимального «столбиком».

In [ ]:
a = int(input())
b = int(input())

numbers = list(range(a,b+1))
print(numbers)

numbers.reverse()
print("\n".join(map(str, numbers)))

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# a = 1
# b = 5
# 1 2 3 4 5
# 5
# 4
# 3
# 2
# 1

1
5
[1, 2, 3, 4, 5]
5
4
3
2
1

#№ 4.2.15

Известна масса каждого предмета в кг., загружаемого в грузовик. Определить, возможна ли перевозка груза, если грузоподъемность грузовика равна p кг.

In [ ]:
p = int(input('Грузоподъемность грузовика '))
n = int(input('Количество предметов '))

lst = list() 
for i in range(n):
    x = int(input('Масса предмета '))
    lst.append(x)

if sum(lst)>=p: 
    print('Нет')
else:
    print('Да')

# --------------
# Пример вывода:
#
# Грузоподъемность грузовика (кг.) = 10
# Количество предметов = 2
# Масса 1-го предмета (кг.) = 3
# Масса 2-го предмета (кг.) = 3
# Да

Грузоподъемность грузовика 10
Количество предметов 2
Масса предмета 3
Масса предмета 3
Да

#№ 4.2.16

В области несколько районов. Заданы площади, засеваемые пшеницей (га.), и средняя урожайность (ц/га) в каждом районе.

Определите количество пшеницы, собранное по области. При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input('Количество районов '))

lst = list() 
for i in range(n):
    s = float(input('Площадь района ')) 
    b = float(input('Урожайность в районе ')) 
    m = b*s
    lst.append(m)

print(round(sum(lst), 1))

# --------------
# Пример вывода:
#
# Количество районов = 3
# Площадь 1-го района (га) = 4
# Урожайность в 1-м районе (ц/га.) = 2
# Площадь 2-го района (га) = 7
# Урожайность в 2-м районе (ц/га.) = 3
# Площадь 3-го района (га) = 9
# Урожайность в 3-м районе (ц/га.) = 4
# Собрано пшеницы: 65.0 ц.

Количество районов 3
Площадь района 4
Урожайность в районе 2
Площадь района 7
Урожайность в районе 3
Площадь района 9
Урожайность в районе 4
65.0

#№ 4.2.17
Решите задачу № 4.2.7, организовав бесконечный цикл, который бы прерывался при выполнении условия, используя оператор break.

№ 4.2.7

Дана непустая последовательность целых чисел, оканчивающаяся нулем. Найти сумму и количество введенных чисел.

In [ ]:
nums_sum = 0  # сумма
nums_count = 0  # количество

a = int(input())
lst = list()

while x!=0:
    nums_count = nums_count+1
    lst.append(a)
    nums_sum = nums_sum+a
    a = int(input())
    if a==0:
        break

print('Сумма = ', nums_sum)
print('Количество = ',nums_count)

# --------------
# Пример вывода:
#
# Введите 1-е число: 1
# Введите 2-е число: 2
# Введите 3-е число: 3
# Введите 4-е число: 4
# Введите 5-е число: 0
# Сумма = 10
# Количество = 4
#
# Введите 1-е число: 0
# Сумма = 0
# Количество = 0

1
2
3
4
0
Сумма =  10
Количество =  4

#№ 4.2.19

Выведите на экран (в строку) все целые числа от a до b, кратные некоторому числу c.

In [ ]:
a = int(input())
b = int(input())
c = int(input())

lst = list()

for i in range(a,b+1):
    if i%c==0:
        lst.append(i)

print(lst)


# --------------
# Пример вывода:
#
# a = 1
# b = 10
# c = 2
# 2 4 6 8 10

1
10
2
[2, 4, 6, 8, 10]

# № 4.2.20

Выведите на экран (в строку) все трехзначные натуральные числа, сумма цифр которых равна целому числу n (0<n≤27).

In [ ]:
n = int(input())
lst = list()
for i in range(100,1000): # все трехзначные числа
  a = (i//100) # первая цифра числа i
  b = ((i%100)//10) # вторая цифра числа i
  c = (i%10) # третья цифра числа i
  s = (a+b+c) # сумма цифр
  if s == n:
    lst.append(i)
print(lst)

# Удалите комментарий и допишите код

# --------------
# Пример вывода:
#
# n = 3
# 102 111 120 201 210 300

3
[102, 111, 120, 201, 210, 300]

# № 4.2.21

Известно количество учеников в классе и их рост (см.); рост мальчиков условно задан отрицательными числами. Определите средний рост мальчиков и средний рост девочек.

При выводе вещественных результатов оставьте один знак после запятой.

In [ ]:
n = int(input()) # Количество учеников

rost_m = 0 # рост мальчиков
rost_d = 0 # рост девочек
d = 0 #  количество девочек
m = 0 # количество мальчиков
sd = list()
sm = list()

for i in range(n):
  rost = int(input("Введите рост "))
  if rost > 0:
    d = d+1
    sd.append(rost)
    s = sum(sd)
  elif rost < 0:
    m = m+1
    sm.append(rost)
    b = sum(sm)

r_sr_m = -(b/m)
r_sr_d = s/d

print("Средний рост мальчиков: {:.1f}".format(r_sr_m))
print("Средний рост девочек: {:.1f}".format(r_sr_d))

# --------------
# Пример вывода:
#
# n = 5
# Рост 1-го ученика = 150
# Рост 2-го ученика = -150
# Рост 3-го ученика = 160
# Рост 4-го ученика = 170
# Рост 5-го ученика = 180
# Средний рост мальчиков: 150.0
# Средний рост девочек: 165.0

5
Введите рост 150
Введите рост -150
Введите рост 160
Введите рост 170
Введите рост 180
Средний рост мальчиков: 150.0
Средний рост девочек: 165.0

# № 4.2.22

Даны n вещественных чисел. Определите максимальное и минимальное из них.

При выводе вещественных результатов оставьте два знака после запятой.

In [ ]:
# !!! Код не работает в коллабе

n = int(input()) # кол-во чисел 
b = list()

for i in range(n):
  v = float(input())
  b.append(v)

a_max = max(b)
a_min = min(b)


print("Максимум: {:.2f}".format(a_max))
print("Минимум: {:.2f}".format(a_min))

# --------------
# Пример вывода:
#
# n = 4
# 1-е число = 6.2
# 2-е число = 3.8
# 3-е число = 1.1
# 4-е число = 9.66
# Максимум: 9.66
# Минимум: 1.10

4
6.2
3.8
1.1
9.66

TypeError: ignored

# № 4.2.28
Составьте программу для нахождения всех натуральных решений уравнения x2+y2+z2=k2, где x,y,z∈[1,30], а k вводится с клавиатуры.

In [ ]:
k = int(input('Введите целое число: '))

for x in range(1, 31):
    for y in range(1, 31):
        for z in range(1, 31):
            if x*x+y*y+z*z==k*k:
                print(x,y,z)

# --------------
# Пример вывода:
#
# k = 30
# x =  4, y = 10, z = 28
# x =  4, y = 20, z = 22
# x =  4, y = 22, z = 20
# x =  4, y = 28, z = 10
# x = 10, y =  4, z = 28
# x = 10, y = 20, z = 20
# x = 10, y = 28, z =  4
# x = 20, y =  4, z = 22
# x = 20, y = 10, z = 20
# x = 20, y = 20, z = 10
# x = 20, y = 22, z =  4
# x = 22, y =  4, z = 20
# x = 22, y = 20, z =  4
# x = 28, y =  4, z = 10
# x = 28, y = 10, z =  4

Введите целое число: 30
4 10 28
4 20 22
4 22 20
4 28 10
10 4 28
10 20 20
10 28 4
20 4 22
20 10 20
20 20 10
20 22 4
22 4 20
22 20 4
28 4 10
28 10 4

# № 4.2.30

Дан список целых чисел, введенных с клавиатуры (длина неизвестна). Ответьте на вопросы:

являются ли все элементы положительными числами?

есть ли хотя бы один нулевой элемент в списке?

являются ли все элементы четными числами?

есть ли хотя бы один нечетный элемент в списке?

 Каждый из пунктов выполните дважды: используя стандартный проход в цикле (например, через алгоритм с флажком), и используя функции any() и/или all().

In [16]:
# Все разделенные пробелом элементы будут преобразованы в список целых чисел
nums = [int(item) for item in input().split()]

# 1. Все положительные
for item in nums:
    if item <= 0:
        all_pos_1 = False
        break
else:
    all_pos_1 = True

all_pos_2 = all([item > 0 for item in nums])

# 2. Хотя бы 1 нулевой элемент
for item in nums:
    if item == 0:
        any_zero_1 = True
        break
else:
    any_zero_1 = False

any_zero_2 = any([item == 0 for item in nums])

# 3. Все четные
# Удалите комментарий и допишите код (определите переменные all_even_1, all_even_2)
for item in nums:
  if item % 2 != 0:
    all_even_1 = False
    break

else:
    all_even_1 = True

all_even_2 = all([item % 2 == 0 for item in nums])

# 4. Хотя бы 1 нечетный элемент
# Удалите комментарий и допишите код (any_odd_1, any_odd_2)
for item in nums:
  if item % 2 != 0:
    any_odd_1 = True
    break

else:
    any_odd_1 = False

any_odd_2 = any([item % 2 != 0 for item in nums])

print("Все положительные:", all_pos_1, all_pos_2)
print("Хотя бы 1 нулевой элемент:", any_zero_1, any_zero_2)
print("Все четные:", all_even_1, all_even_2)
print("Хотя бы 1 нечетный элемент:", any_odd_1, any_odd_2)

# --------------
# Пример вывода:
#
# -1 1 100 0
# Все положительные: False False
# Хотя бы 1 нулевой элемент: True True
# Все четные: False False
# Хотя бы 1 нечетный элемент: True True

-1 1 100 0
Все положительные: False False
Хотя бы 1 нулевой элемент: True True
Все четные: False False
Хотя бы 1 нечетный элемент: True True

# Программирование на языке высокого уровня (Python).
# https://www.yuripetrov.ru/edu/python
# Задание task_04_02_01.
#
# Выполнил: Вознесеснкая В.Е. 
# Группа: АДЭУ-221
# E-mail: veroshe4k@gmail.com